In [1]:
import os
os.chdir("C:/Users/Sandhu/Desktop/hamoye data science")

In [2]:
#Impoting Important libraries
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv')

In [4]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [5]:
#QUESTION 11
df.groupby('Item').sum().loc['Animal fats'].loc[['Y2014' ,'Y2017']]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

In [6]:
#QUESTION 12
df.describe()['Y2015'].loc[['mean','std']]

mean     135.235966
std     1603.403984
Name: Y2015, dtype: float64

In [7]:
#QUESTION 13
df.isnull().sum().loc['Y2016'], df.isnull().sum().loc['Y2016']/len(df)*100

(1535, 2.5187470259094566)

In [8]:
##QUESTION 14
df.corr()['Element Code'].sort_values(ascending = False)

Element Code    1.000000
Y2014           0.024457
Y2018           0.024279
Y2017           0.024254
Y2015           0.023889
Y2016           0.023444
Area Code      -0.000209
Item Code      -0.024683
Name: Element Code, dtype: float64

In [9]:
##QUESTION 15
df.groupby('Element').sum().loc['Import Quantity'].sort_values(ascending = False)

Element Code    28834929.00
Item Code       13795966.00
Area Code         688174.00
Y2017             294559.09
Y2018             287997.09
Y2016             286582.78
Y2014             274144.48
Y2015             267018.46
Name: Import Quantity, dtype: float64

In [10]:
##QUESTION 16
df.groupby('Element').sum().loc['Production'].loc['Y2014']

1931287.7500000005

In [11]:
##QUESTION 17
df.groupby('Element').sum()['Y2018'].sort_values(ascending = False).head(1)

Element
Domestic supply quantity    2161192.1
Name: Y2018, dtype: float64

In [12]:
#QUESTION 18
df.groupby('Element').sum()['Y2018'].sort_values().head(3)

Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Name: Y2018, dtype: float64

In [13]:
#QUESTION 19
df[df['Area'].eq('Algeria') & df['Element'].eq('Import Quantity')]['Y2018'].sum()

36238.29

In [14]:
#QUESTION 20
df['Area'].nunique()

49